@model IEnumerable<Supplier>

    @foreach (var supplier in Model)
    {
        if (ViewBag.id == supplier.SupplierId)
        {
            <option selected value=@supplier.SupplierId>@supplier.CompanyName</option>
        }
        else
        {
            <option value=@supplier.SupplierId>@supplier.CompanyName</option>
        }
    
    }